---
import Layout from "../../layouts/Layout.astro";
import { Clock } from "@lucide/astro";
import Prose from "../../components/Prose.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const guide = await getCollection("guide");
  return guide.map((guideEntry) => ({
    params: { id: guideEntry.id },
    props: { guideEntry },
  }));
}
const { guideEntry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(guideEntry);
---

<Layout>
  <Prose>
    <article class="mt-8">
      <h1 class="text-center">{guideEntry.data.title}</h1>
      <div class="flex gap-2 items-center">
        <Clock />
        <p>{remarkPluginFrontmatter.minutesRead}</p>
      </div>
      <Content />
    </article>
  </Prose>
</Layout>
