---
import Layout from "../../layouts/Layout.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const guide = await getCollection("guide");
  return guide.map((guideEntry) => ({
    params: { id: guideEntry.id },
    props: { guideEntry },
  }));
}
const { guideEntry } = Astro.props;
const { Content } = await render(guideEntry);
---

<Layout>
  <article class="prose mt-8 flex flex-col items-center text-center">
    <h1>{guideEntry.data.title}</h1>
    <Content />
  </article>
</Layout>
