---
import { getCollection } from "astro:content";
const blog = (await getCollection("blog")).sort(
  (postOne, postTwo) =>
    postTwo.data.pubDate.getTime() - postOne.data.pubDate.getTime(),
);

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="max-w-prose flex flex-col gap-8 mt-8 text-center">
    <h1 class="text-3xl">The Blog</h1>
    <section class="flex flex-col gap-8" id="guide-list">
      {
        blog.map((post) => (
          <div class="bg-white shadow-md rounded-xl border border-gray-200 p-6 transition hover:shadow-xl max-w-prose">
            <div class="flex flex-col gap-2">
              <h2 class="text-2xl font-semibold text-gray-800 hover:text-blue-600 transition-colors">
                <a href={`/blog/${post.id}`}>{post.data.title}</a>
              </h2>
              <p class="text-gray-600">{post.data.description}</p>
              <p class="text-sm text-gray-500 mt-2">
                <span class="font-semibold">Published:</span>{" "}
                {new Date(post.data.pubDate).toLocaleDateString()}
              </p>
            </div>
          </div>
        ))
      }
    </section>
  </main>
</Layout>
