---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="max-w-prose">
    <section class="mt-8 flex flex-col gap-8">
      <h1 class="text-3xl">The Declassified Career Survival Guide.</h1>
      <p>
        I have tried creating content on YouTube for many years. I made videos
        about programming content and live-streamed myself, attempting to review
        every problem on <a
          class="underline text-blue-500"
          href="https://www.youtube.com/@rafaelnegron_web/videos"
          target="_blank">Leetcode</a
        > . I also recorded videos of myself <a
          class="underline text-blue-500"
          href="https://www.youtube.com/@rafael.negron"
          target="_blank">walking and talking</a
        >
        as I enjoy the activity of walking.
      </p>
      <p>
        None of these truly piqued my interest and fulfilled me. I love both
        programming and walking, but I wanted something more.
      </p>
      <p>
        I always wanted to help people, so I thought, "Why not make a channel
        where I can do just that?" That thought is how my current channel was
        born.
      </p>
      <p>
        I have been working in the same company for the last eight years. People
        look at me like I am crazy when I say that. However, this job has
        allowed me to do so much with my life: take trips, get nice things,
        support my loved ones, and do creative endeavors.
      </p>
      <p>
        With the right mindset and advice, anyone could learn to love their 9-5
        job and grow within their careers. I hope this content can help someone
        out there.
      </p>
    </section>
  </main>
</Layout>
