---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="max-w-prose text-center">
    <section class="mt-8 flex flex-col gap-8">
      <h1 class="text-3xl">Welcome to my little nook in the internet.</h1>
      <p>
        This is where I write, reflect, brainstorm, and (hopefully) inspire
        those in corporate America to cultivate a fulfilling life with their 9-5
        jobs.
      </p>
    </section>
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      class="w-full mt-8 mx-auto"
      height="315"
      referrerpolicy="strict-origin-when-cross-origin"
      src="https://www.youtube.com/embed/AtlJkUFRilI?si=7IzRVaPQyeMuRDmu"
      title="Declassified Career Survival Guide"
      width="560"></iframe>
  </main>
</Layout>
