---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="max-w-prose text-center">
    <section class="mt-8 flex flex-col gap-8">
      <h1 class="text-3xl">Welcome to my little nook on the internet.</h1>
      <p>
        This is where I write, reflect, brainstorm, and (hopefully) inspire
        those in corporate America to cultivate a fulfilling life with their 9-5
        jobs.
      </p>
    </section>
  </main>
</Layout>
