---
import { Image } from "astro:assets";
import headerImage from "../assets/header.png";
---

<div class="container mx-auto p-4">
  <div class="w-5xl mx-auto">
    <Image
      alt="A slightly anime-esque drawing of a chair, desk and computer monitor."
      class="object-contain"
      fetchpriority="high"
      src={headerImage}
    />
  </div>
  <nav>
    <ul>
      <li>home</li>
      <li>career survival guide</li>
    </ul>
  </nav>
  <main>
    <p>
      I've been trying to create something I was genuinely happy and excited
      about for many years. I'm a software engineer, so I thought making videos
      about Leetcode would be fun—nope. I also enjoy walking, so I thought
      making videos about walking would be fun—nope.
    </p>
    <p>
      Then, one day, I had an idea to document my thoughts and perspectives from
      working at a 9-5 job for the last 8 years.
    </p>
    <p>I struck gold.</p>
    <p>
      I've always wanted to help others grow, adapt, and thrive at work and
      beyond. Hopefully, this website will do that for you.
    </p>
    <p>Enjoy!</p>
  </main>
</div>
