---
import { ClientRouter } from "astro:transitions";
import Analytics from "@vercel/analytics/astro";

import "../styles/global.css";

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Rafael Negron" />
    <meta property="og:type" content="blog" />
    <meta property="og:description" content="My little nook in the internet." />
    <meta property="og:image" content="https://rafaelnegron.me/logo.svg" />
    <meta property="og:url" content="https://rafaelnegron.me/" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>Rafael Negron</title>
  </head>
  <body
    class="m-0 w-full h-full container mx-auto p-4 flex flex-col items-center"
  >
    <header>
      <img
        alt="An anime-esque style drawing of a desk with a laptop on it."
        class="mx-auto"
        height="300"
        src="https://rafaelnegron.me/logo.svg"
        width="300"
      />
      <nav>
        <ul class="flex flex-col gap-2 sm:gap-8 sm:flex-row items-center">
          <li>
            <a class={currentPath === "/" ? "font-bold underline" : ""} href="/"
              >Home</a
            >
          </li>
          <li>
            <a
              class={currentPath.includes("guide") ? "font-bold underline" : ""}
              href="/guide">Declassified Career Survival Guide</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <slot />
    <footer class="mt-8">
      <p>&copy; 2025 Rafael Negron</p>
    </footer>
    <Analytics />
  </body>
</html>

<ClientRouter />
